.pinboard-input-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

.pinboard-input{
  background-color: white;
  border-radius: 5px;
}

.pinboard-input h2{
  margin-bottom: 20px;
}

input[type="text"]{
  margin: 0px 0px 10px 0px;
}

textarea{
  padding: 10px;
  height: 130px;
  resize: none;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

textarea::placeholder{
  color: #ccc;
}

.foto{
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

.foto input{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.foto label{
  color: #0395d2;
  margin-bottom: 10px;
  cursor: pointer;
}

.foto label span{
  margin-left: 5px;
}

.pinboard-foto{
  /* height: 200px;
  width: 100%;
  background-size: cover;
  flex: 0 0 auto;
  background-position: center; */
  max-width: 300px;
}

.btn-delete{
  border: none;
  font-size: 16px;
  color: red;
  margin-bottom: 5px;
  cursor: pointer;
}

.btn-delete span{
  margin-left: 5px;
}

.input-fields{
  display: flex;
  flex-direction: column;
}

.btn-upload{
  width: 30%;
  border: none;
  background: rgb(0, 150, 210);
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
