.event__box{
  width: 30%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #CACACA;
  margin: 10px 10px;
  position: relative;
}

.event__photo{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event__information{
  padding: 20px 20px 5px 20px;
}

.event__heading{
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
}

.event__title{
  font-weight: 700;
  font-size: 23px;
  word-wrap: break-word;
  text-align: left;
}

.event__date{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  justify-self: flex-start;
}

.event__day{
  color: #ff4a4a;
  font-size: 30px;
}

.event__subheading{
  text-align: left;
  font-weight: 300;
  /* color: #565656; */
  margin-top: 20px;
}

.event__subheading-row{
  display: grid;
  grid-template-columns: 8% 90%;
  align-items: center;
  margin-top: 10px;
}

.event__subheading-row > span {
  color: #bfbfbf;
  text-align: center;
}

.event__main{
  text-align: left;
  /* font-weight: 300; */
  margin-top: 20px;
  color: #333333;
  line-height: 1.34;
  white-space: pre-line;
  transition: max-height 0.5s linear 0s;
  /* height: 300px; */
  overflow: hidden;
  padding-bottom: 10px;
}

.tooBig{
  max-height: 300px;
}

.showText{
  max-height: 800px;
}

.events{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.event__footer{
  text-align: center;
  padding-bottom: 10px;
  /* box-shadow: 0 -5px 5px -5px #e0e0e0; */
  background: #0395d2;
  color: #fff;
  /* color: #0395d2; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  cursor: pointer;
}

.event__footer span{
  margin-left: 10px;
}

.event__edit{
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.9);
  border-bottom-left-radius: 3px;
}

.event__edit button{
  border: none;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  background: none;
}

.event__edit button:focus{
  outline: none;
}

.editEvent__photo{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-left: 10px;
  padding: 0px 2.5px; */
  margin-bottom: 10px;
}

.event__fullTime{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.event__fullTime span{
  color: #424242;
  font-size: 14px;
}
