.event__box{
  width: 25%;
  background: #fff;
  box-shadow: 0px 0px 4px 0px #CACACA;
  margin: 10px 10px;
}

.event__photo{
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event__information{
  padding: 20px;
}

.event__heading{
  display: flex;
  align-items: center;
}

.event__title{
  text-align: center;
  font-weight: 700;
  font-size: 25px;
}

.event__date{
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.event__day{
  color: #ff4a4a;
  font-size: 30px;
}

.event__subheading{
  text-align: center;
  font-weight: 300;
  color: #565656;
  margin-top: 15px;
}

.event__main{
  text-align: left;
  font-weight: 300;
  margin-top: 20px;
}

.events{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}
