.lageplan-wrapper{
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.lageplan-wrapper svg{
    width: 100%;
    height: 100%;
}

.sidebar{
  padding: 20px 0;
}

input.search{
  padding: 10px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 250px;
}

button.change-floor{
  padding: 10px;
  font-size: 14px;
  margin-right: 3px;
  border: 1px solid #ccc;
}

button.change-floor.active{
  background: rgb(0, 60, 160);
  color: #fff;
}

.lageplan{
  width: 100%;
  height: 100%;
  position: relative;
}

.svg-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
}

.room{
    opacity: 0;
}

.selected-room{
    opacity: 0.5;
    fill: red;
}

.no-room{
    opacity: 0.5;
}

.lageplan-search{
  position: relative;
  margin-right: 10px;
}

.lageplan-search button{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background: rgb(0, 150, 210);
  color: #fff;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.lageplan-top{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* image{
  width: 100%;
  height: 100%;
} */
