body{
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
}

.main{
  height: calc(100% - 50px);
  padding: 10px;
  box-sizing: border-box;
}

.button{
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  float: left;
  background: rgb(0, 60, 160);
  color: #fff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.wrapper{
  height: 100%;
}

.game__wrapper{
  height: 100%;
  width: 100%;
}

.frameDiv{
    height: 100%;
}

.main-back{
  position: absolute;
  left: 10px;
  top: 70px;
  z-index: 10;
}

.main-back:active{
  outline: none;
}

.main-back:focus{
  outline: none;
}
